@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "我爱果庄，兴趣小组";

    int l = Model.Count();
    int rw = l / 2;

    int row = l % 2 == 0 ? rw : rw + 1;
}

@model IEnumerable<Category>

<partial name="_Nav" />

<div class="container" id="app">
    <h2>兴趣小组……</h2>

    @for (int r = 0; r < row; r++)
    {
        <div class="row">
            @for (int i = r * 2; i < ((r + 1) * 2 > l ? l : (r + 1) * 2); i++)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a asp-action="interestgroup" asp-route-id="@(Model.ElementAt(i)?.Id)"><img src="@(Model.ElementAt(i)?.SmallPic)" alt="@(Model.ElementAt(i)?.Name)" /></a>
                    </div>
                    <div class="panel-footer font-space">
                        <a asp-action="interestgroup" asp-route-id="@(Model.ElementAt(i)?.Id)">@(Model.ElementAt(i)?.Name)</a>
                    </div>
                </div>
            }
        </div>
    }

</div>